.App {
  margin: auto;
  /* width: 100%; */
  max-width: 50rem;
}

.h2-add-book-wrapper {
  display: flex;
}

h2 {
  margin-left: 2rem;
  margin-top: 3.5rem;
  color: seashell;
}

.h2-add-book-wrapper > button {
  margin: auto 3rem 0.35rem 3rem;
  height: 2rem;
  background-color: royalblue;
  color: royalblue;
  font-weight: 900;
}

input.searchbar {
  width:97.5vmin;
  height: 1.5em;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  padding-left: 0.25rem;
  color: grey;
  font-size: large;
  position: fixed;
  margin-left: 2rem;
  z-index: 2;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 2rem 2rem;
  padding: 2rem 2rem 2rem 2rem;
  background-color: royalblue;
}

.add-book-form > label {
  color: snow;
  font-weight: bolder;
  margin-top: 1rem;
}

.add-book-form > textarea {
  min-height: 15rem;
  background-color: silver;
  border-radius: 5px;
  border: none;
  font-size: 14pt;
}

.add-book-form > input[type=text] {
  background-color: silver;
  height: 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 12pt;
}

.add-book-form > select {
  background-color: silver;
  height: 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 12pt;
}

.add-book-form-buttons-wrapper > input[type=submit] {
  background-image: repeating-radial-gradient(lemonchiffon, rosybrown);  
  color:rgb(37, 42, 48);
  border: none;
  font-weight: bolder;
  font-size: 12pt;
  margin: 2rem 2rem 0 0;
  height: 1.75rem;
  border-radius: 5px;
}

.add-book-form-buttons-wrapper > input[type=submit]:hover {
  background-color: rosybrown;
  color: black;
}

.add-book-form-buttons-wrapper > button {
  background-image: repeating-radial-gradient(lemonchiffon, rosybrown);  
  color:rgb(37, 42, 48);
  font-weight: bolder;
  font-size: 12pt;
  border: none;
  height: 1.75rem;
  border-radius: 5px;
}

.add-book-form-buttons-wrapper > button:hover {
  background-color: rosybrown;
  color: black;
}

.summary-bar {
  margin: 0.25rem 0.25rem 0.35rem 0.25rem;
  font-size: small;
  font-weight: bold;
  padding-top: 2rem;
  margin-bottom: 1rem;
  color: snow;
  background-color: royalblue;
}

.summary-bar > span {
  margin-right: 0.75rem;
}

.taglist {  
  margin: 0.25rem 0.25rem 0 0;
  font-family: monospace;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: sienna;
  background-color: gainsboro;
  padding: 0 0.25rem 0.15rem 0.25rem;
  margin: 0.25rem 0.25rem 0.5rem 0;
  border-radius: 5px;
}

a:hover {
  color: maroon;
  background-color: snow;
}

a:focus {
  border-bottom: 4px solid tomato;
}

a:visited {
  color: darkblue;
}

.books {
  margin: 2rem 2rem 2rem 2rem;
  padding: 0 2rem;
  background-image:repeating-radial-gradient(lemonchiffon, royalblue);
}

.sorted {
  border-left: 0.25rem solid silver;
}

.books .book {
  background-image: linear-gradient(gray,rgb(34, 85, 180));
  border-radius: 5px;  
  margin: 1rem 0 0.35rem 0;
  padding: 1rem 0 1rem 0;
  display: flex;
}

.book-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form > label {
  color: cornsilk;
}

.edit-form > input {
  background-color: lightgray;
  color: black;
}

.edit-form > textarea {
  min-height: 6rem;
  background-color: lightgray;
  color: black;
  border: none;
}

.edit-form > input[type=submit] {
  height: 1.1rem;
  border: none;
  background-color: yellow;
}

.form-buttons {
  margin-top: 0.5rem;
  display: flex;
}

.book-image {
  margin-left: auto;
}

.book .book-image {
  max-width: 20%;
  min-width: 20%;
}

.book-image .image {
  /* background-image: linear-gradient(#af2525, #9198e5); */
  background-image: linear-gradient(purple, orangered);
  min-height: 7em;
  margin-right: 1em;
}

.book-image .status {
  font-size: 8pt;
  margin-right: 1em;
  color: cornsilk;
}

.book-details {
  width: 100%;
  margin-right: 1em;
}

.book-details .description {
  font-size: small;
}

.title {
  color: aliceblue;
  margin-bottom: 0.2rem;
}

.author {
  color: honeydew;
}

.description {
  color: mintcream;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}

.book .booktags {
  margin-top: 0.5rem;
}

.book .booktags > button:focus {
  background-color: olive;
  color: cornsilk;
}

.book .booktags > button:hover {
  background-color: olive;
  color: cornsilk;
}

.book .booktags > button {
  background: rgb(235, 66, 5);
  color: cornsilk;
  margin-right: 0.25rem;
  border: none;
  height: 1rem;
  border-radius: 5px;
  font-size: 4pt;
}

.booktags {
  display: flex;
}

.book .toolbar {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  background-image: linear-gradient(gray,rgb(34, 85, 180));
}

.book .toolbar > button {
  background-image: repeating-radial-gradient(lemonchiffon, rosybrown);
  height: 5em;
  border: none;
  color: black;
}

.book .toolbar > button:hover {
  background-color: rosybrown;
  color: maroon;
}

.book .toolbar > button:focus {
  background-color: rgb(109, 170, 5);
  color: purple;
}

.wastebasket::after {
  content: "\1F5D1";
  font-size: 35px;
  font-weight: bolder;
  display: block;
}

.page::after {
  content: "\1F5CE";
  font-size: 25px;
  font-weight: bolder;
  display: block;
}

.tag::after {
  content: "\1F3F7";
  font-size: 25px;
  font-weight: bolder;
  display: block;
}

.pencil::after {
  content: "\1F589";
  font-size: 25px;
  font-weight: bolder;
  display: block;
}

.group::after {
  content: "\1F56E";
  font-size: 25px;
  font-weight: bolder;
  display: block;
}

.notepage {
  background-color: moccasin;
  margin-top: 2rem;
  padding: 2rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
}

.statuses {
  display: flex;
  margin-top: 1rem;
}

.status-filter {
  margin-left: 2rem;
  color: seashell;
}